In [11]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('train.csv')
df.head()

       name   x1   x2   y1   y2       classname
0  2756.png   69  126  294  392  face_with_mask
1  2756.png  505   10  723  283  face_with_mask
2  2756.png   75  252  264  390   mask_colorful
3  2756.png  521  136  711  277   mask_colorful
4  6098.jpg  360   85  728  653    face_no_mask

In [13]:
new_df = pd.DataFrame(columns=df.columns)
new_df.head()

Empty DataFrame
Columns: [name, x1, x2, y1, y2, classname]
Index: []

In [14]:
for idx, row in df.iterrows():
    if row['classname'] in ['face_with_mask', 'face_no_mask', 'face_with_mask_incorrect']:
        new_df = new_df.append(row)
new_df.head()

       name   x1   x2   y1   y2                 classname
0  2756.png   69  126  294  392            face_with_mask
1  2756.png  505   10  723  283            face_with_mask
4  6098.jpg  360   85  728  653              face_no_mask
5  6427.png  218   98  577  580  face_with_mask_incorrect
7  4591.png  239    9  522  342            face_with_mask

In [15]:
new_df.to_csv('train_c.csv')

In [16]:
new_df['name'].nunique()

3443