In [2]:
import pandas as pd
import numpy as np
import cv2
import os

In [2]:
df = pd.read_csv('train.csv')
df

      Unnamed: 0      name   x1   y1   x2   y2                 classname
0              0  2756.png   69  126  294  392            face_with_mask
1              1  2756.png  505   10  723  283            face_with_mask
2              4  6098.jpg  360   85  728  653              face_no_mask
3              5  6427.png  218   98  577  580  face_with_mask_incorrect
4              7  4591.png  239    9  522  342            face_with_mask
...          ...       ...  ...  ...  ...  ...                       ...
5894       15396  4149.png  399   71  718  581            face_with_mask
5895       15399  3389.png  101    2  435  456            face_with_mask
5896       15405  2460.png  650    5  805  184              face_no_mask
5897       15407  1894.jpg  437  121  907  644            face_with_mask
5898       15410  3216.png  126   69  409  463            face_with_mask

[5899 rows x 7 columns]

In [3]:
df = df.drop(['Unnamed: 0'], axis=1)
df

          name   x1   y1   x2   y2                 classname
0     2756.png   69  126  294  392            face_with_mask
1     2756.png  505   10  723  283            face_with_mask
2     6098.jpg  360   85  728  653              face_no_mask
3     6427.png  218   98  577  580  face_with_mask_incorrect
4     4591.png  239    9  522  342            face_with_mask
...        ...  ...  ...  ...  ...                       ...
5894  4149.png  399   71  718  581            face_with_mask
5895  3389.png  101    2  435  456            face_with_mask
5896  2460.png  650    5  805  184              face_no_mask
5897  1894.jpg  437  121  907  644            face_with_mask
5898  3216.png  126   69  409  463            face_with_mask

[5899 rows x 6 columns]

In [10]:
df['width'] = 0
df['height'] = 0
df

          name   x1   y1   x2   y2                 classname  width  height
0     2756.png   69  126  294  392            face_with_mask      0       0
1     2756.png  505   10  723  283            face_with_mask      0       0
2     6098.jpg  360   85  728  653              face_no_mask      0       0
3     6427.png  218   98  577  580  face_with_mask_incorrect      0       0
4     4591.png  239    9  522  342            face_with_mask      0       0
...        ...  ...  ...  ...  ...                       ...    ...     ...
5894  4149.png  399   71  718  581            face_with_mask      0       0
5895  3389.png  101    2  435  456            face_with_mask      0       0
5896  2460.png  650    5  805  184              face_no_mask      0       0
5897  1894.jpg  437  121  907  644            face_with_mask      0       0
5898  3216.png  126   69  409  463            face_with_mask      0       0

[5899 rows x 8 columns]

In [23]:
DIR = 'Medical mask/images/'

for idx, row in df.iterrows():
    filename = os.path.join(DIR, row['name'])
    height, width = cv2.imread(filename).shape[:2]
    df.loc[idx,'width'] = width
    df.loc[idx,'height'] = height

In [24]:
df

          name   x1   y1   x2   y2                 classname  width  height
0     2756.png   69  126  294  392            face_with_mask    725     566
1     2756.png  505   10  723  283            face_with_mask    725     566
2     6098.jpg  360   85  728  653              face_no_mask   1484     989
3     6427.png  218   98  577  580  face_with_mask_incorrect    740     741
4     4591.png  239    9  522  342            face_with_mask    776     519
...        ...  ...  ...  ...  ...                       ...    ...     ...
5894  4149.png  399   71  718  581            face_with_mask    728     621
5895  3389.png  101    2  435  456            face_with_mask    527     671
5896  2460.png  650    5  805  184              face_no_mask   1018     541
5897  1894.jpg  437  121  907  644            face_with_mask   1280     720
5898  3216.png  126   69  409  463            face_with_mask    530     670

[5899 rows x 8 columns]

In [26]:
df_maks = pd.read_csv('train_maks.csv')
df_maks

,Unnamed: 0,name,x1,y1,x2,y2,classname,width,height
0,0,maksssksksss0.png,79,105,109,142,without_mask,512,366
1,1,maksssksksss0.png,185,100,226,144,with_mask,512,366
2,2,maksssksksss0.png,325,90,360,141,without_mask,512,366
3,3,maksssksksss1.png,321,34,354,69,with_mask,400,156
4,4,maksssksksss1.png,224,38,261,73,with_mask,400,156
...,...,...,...,...,...,...,...,...,...
4067,4067,maksssksksss98.png,263,62,287,85,with_mask,400,267
4068,4068,maksssksksss98.png,344,80,377,106,with_mask,400,267
4069,4069,maksssksksss99.png,181,54,273,162,face_with_mask_incorrect,400,267
4070,4070,maksssksksss99.png,99,87,176,165,with_mask,400,267
4071,4071,maksssksksss99.png,289,99,355,233,with_mask,400,267

In [29]:
df_maks = df_maks.drop(['Unnamed: 0'], axis=1)
df_maks

,name,x1,y1,x2,y2,classname,width,height
0,maksssksksss0.png,79,105,109,142,without_mask,512,366
1,maksssksksss0.png,185,100,226,144,with_mask,512,366
2,maksssksksss0.png,325,90,360,141,without_mask,512,366
3,maksssksksss1.png,321,34,354,69,with_mask,400,156
4,maksssksksss1.png,224,38,261,73,with_mask,400,156
...,...,...,...,...,...,...,...,...
4067,maksssksksss98.png,263,62,287,85,with_mask,400,267
4068,maksssksksss98.png,344,80,377,106,with_mask,400,267
4069,maksssksksss99.png,181,54,273,162,face_with_mask_incorrect,400,267
4070,maksssksksss99.png,99,87,176,165,with_mask,400,267
4071,maksssksksss99.png,289,99,355,233,with_mask,400,267

In [30]:
df_all = pd.concat([df, df_maks], ignore_index=True)
df_all

,name,x1,y1,x2,y2,classname,width,height
0,2756.png,69,126,294,392,face_with_mask,725,566
1,2756.png,505,10,723,283,face_with_mask,725,566
2,6098.jpg,360,85,728,653,face_no_mask,1484,989
3,6427.png,218,98,577,580,face_with_mask_incorrect,740,741
4,4591.png,239,9,522,342,face_with_mask,776,519
...,...,...,...,...,...,...,...,...
9966,maksssksksss98.png,263,62,287,85,with_mask,400,267
9967,maksssksksss98.png,344,80,377,106,with_mask,400,267
9968,maksssksksss99.png,181,54,273,162,face_with_mask_incorrect,400,267
9969,maksssksksss99.png,99,87,176,165,with_mask,400,267
9970,maksssksksss99.png,289,99,355,233,with_mask,400,267

In [31]:
df_all.to_csv('train_all.csv', index=False)

In [3]:
df = pd.read_csv('train_all.csv')
df

,name,x1,y1,x2,y2,classname,width,height
0,2756.png,69,126,294,392,face_with_mask,725,566
1,2756.png,505,10,723,283,face_with_mask,725,566
2,6098.jpg,360,85,728,653,face_no_mask,1484,989
3,6427.png,218,98,577,580,face_with_mask_incorrect,740,741
4,4591.png,239,9,522,342,face_with_mask,776,519
...,...,...,...,...,...,...,...,...
9966,maksssksksss98.png,263,62,287,85,with_mask,400,267
9967,maksssksksss98.png,344,80,377,106,with_mask,400,267
9968,maksssksksss99.png,181,54,273,162,face_with_mask_incorrect,400,267
9969,maksssksksss99.png,99,87,176,165,with_mask,400,267
9970,maksssksksss99.png,289,99,355,233,with_mask,400,267

In [4]:
df['classname'].unique()

array(['face_with_mask', 'face_no_mask', 'face_with_mask_incorrect',
       'without_mask', 'with_mask'], dtype=object)

In [10]:
df['classname'] = df['classname'].apply(lambda x: 'face_no_mask' if (x == 'without_mask') else x)

In [11]:
df['classname'].unique()

array(['face_with_mask', 'face_no_mask', 'face_with_mask_incorrect',
       'with_mask'], dtype=object)

In [12]:
df['classname'] = df['classname'].apply(lambda x: 'face_with_mask' if (x == 'with_mask') else x)

In [13]:
df['classname'].unique()

array(['face_with_mask', 'face_no_mask', 'face_with_mask_incorrect'],
      dtype=object)

In [14]:
df.to_csv('train_all.csv', index=False)